.icon-champion {
  width: 20px;
}

.search-bar {
  align-items: center;
  background-color: var(--color-bg-seatch-bar);
  display: flex;
  justify-content: center;
  margin: 1cm 0;
  height: 5em;
  gap: 20px;
}

.search-bar form input {
  background-color: transparent;
  border: none;
  padding: 15px;
  width: 25em;
  outline: none;
  color: var(--color-search-bar);
}

.search-bar form input::placeholder {
  color: var(--color-placeholder);
}

.search-bar form input,
.search-bar form input::placeholder {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}