.riot-games-img {
  width: 100px;
  height: 30px;
}

.logo-lol-img {
  width: 30px;
  margin: 15px;
;}

header {
  align-items: center;
  background-color: var(--color-bg-header);
  display: flex;
  justify-content: space-between;
  height: 5em;
}

.header-left {
  align-items: center;
  display: flex;
  margin-left: 1cm;
  font-weight: bold;
}

.header-left p {
  margin-right: 30px;
  padding: 6px 11px;
  border-radius: 5px;
  border-bottom: 5px solid transparent;
  transition: background 1.5s, color 1s, border 5s;
}

.header-left p:hover {
  background: var(--color-hover-header);
  border-radius: 5px;
  padding: 6px 11px;
  border-color: aqua;
}

.header-left p:nth-child(n+4) {
  font-size: 15px;
  text-transform: uppercase;
}

.header-rigth {
  align-items: center;
  display: flex;
  margin-right: 1cm;
  gap: 30px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-rigth p:nth-child(1) {
  background: var(--color-hover-header);
  border-radius: 5px;
  font-weight: bold;
  padding: 6px 11px;
}

.header-rigth p:nth-child(2) {
  background-color: rgb(48, 88, 158);
  padding: 8px 11px;
  border-radius: 15px;
}